.travel-item {
  list-style-type: none;
  width: 49%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.travel-image {
  width: 100%;
}

.travel-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
}

.travel-name {
  color: #475569;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
}

.travel-para {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 500;
}
